h1{
    color: #9dbae0
}
body{
    background-color: #9dbae0;
}
#encabezado {
    background-color: blanchedalmond;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    display: flex;
}

.logo{
    background-color: rgb(179, 161, 216);
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 100%;
    height: auto;
}
.menu{
    background-color: rosybrown;
    width: 65%;
    list-style: none;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(179, 161, 216);
}
.menu ul li{
    margin: 0;
    padding: 15px 20px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.menu ul li a:hover{
    background-color: rgb(146, 94, 252) ;
    padding: 15px 20px;
}
.redes{
    background-color: coral;
    width: 20%;
}